<div class="container">
    <div>
        <button class="add-button" [routerLink]="['/players/add']">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <section tabindex="0">
        <table class="mat-elevation-z8" mat-table [dataSource]="players.data">

            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef> First Name </th>
                <td mat-cell *matCellDef="let player"> {{player.firstName}} </td>
            </ng-container>

            <ng-container matColumnDef="secondName">
                <th mat-header-cell *matHeaderCellDef> Second Name </th>
                <td mat-cell *matCellDef="let player"> {{player.secondName}} </td>
            </ng-container>

            <ng-container matColumnDef="gender">
                <th mat-header-cell *matHeaderCellDef> Gender </th>
                <td mat-cell *matCellDef="let player"> {{player.gender}} </td>
            </ng-container>

            <ng-container matColumnDef="birthday">
                <th mat-header-cell *matHeaderCellDef> Birthday </th>
                <td mat-cell *matCellDef="let player"> {{player.birthday}} </td>
            </ng-container>

            <ng-container matColumnDef="team">
                <th mat-header-cell *matHeaderCellDef> Team </th>
                <td mat-cell *matCellDef="let player"> {{player.team.name}} </td>
            </ng-container>

            <ng-container matColumnDef="country">
                <th mat-header-cell *matHeaderCellDef> Country </th>
                <td mat-cell *matCellDef="let player"> {{countrys.get(player.country)}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let player">
                    <button class="edit-button" (click)="updatePlayerDialog(player)" mat-icon-button color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button class="delete-button" (click)="deletePlayer(player.id)" mat-icon-button color="primary">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
    </section>
</div>